body {
  background: white;
  font-size: 13px;
}

div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.topBarBox {
  
  background: hsl(196, 60%, 0%);
  height: 200px;
  color: white;
  min-width: 100%;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBar{
  width: 35%;
  text-align: center;
  font-family: Sans-Serif;
  font-variant: small-caps;
  border: 1px solid white;
}

.centerBox {
  
  background: hsl(0, 60%, 106%);
  height: 200px;
  min-width: 100%;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topBar p {
  font-variant: small-caps;
  font-size: 15;
  font-weight: normal;
}

.centerBar{
  width: 35%;
  text-align: center;
  font-family: sans-serif;
  font-variant: small-caps;;

}

.centerBar:hover {
  border-color: red;
  color: #006600;
  text-decoration: overline;
}


.centerBar p {
  font-variant: small-caps;
  font-size: 15;
  font-weight: normal;
}

.footer {
  border: 1px solid black;
  padding: 5px 5px;
  position: absolute;
  left:45%;
  top: 70%;
}