
		/*-------------------------------
			Header and NavBar Style Sheet
			version: 0.1 - Beta
			last modified: 22/09/12 by Dan
			author: Dan
			purpose: New World Tech
		-------------------------------*/
			<style type="text/css">
   			 html { 
				   background: url(blue.jpg) no-repeat center center fixed; 
				   -webkit-background-size: cover;
				   -moz-background-size: cover;
				   -o-background-size: cover;
				   background-size: cover;
				  }	
			</style>
			 
 